<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's Editor</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <article th:each="account: ${post_types}">
    <h1 th:text="'Supported Post Types in ' + ${account.getKey()}"></h1>

    <ul th:each="postType: ${account.getValue()}">
      <li>
        <a th:href="'/autoconfiguring/' + ${postType.getType()}"
           th:text="${postType.getName()}"></a>
      </li>
    </ul>
  </article>
</div>
</body>
</html>
