<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's Editor</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">

  <article th:each="account: ${accountInformation}">
    <h2 th:text="${account.getKey()}"></h2>

    <article th:with="postType=${post_type.get(account.getKey())}">
      <h2 th:text="${postType.getName()}"></h2>

      <form th:action="${account.getValue().getMicropubEndpoint()}" method="post">

        <!--/*@thymesVar id="Hint" type="me.jvt.www.editor.autoconfiguring.PropertiesContainer.Hint"*/-->
        <div class="form-group" th:each="property: ${postType.getProperties()}" th:with="prop=${property.getName()} + ${property.isMultivalue() ? '[]' : ''}">
          <label th:for="${prop}" th:text="${property.getDisplayName()} + ' *'" th:if="${property.isRequired()}"></label>
          <label th:for="${prop}" th:text="${property.getDisplayName()}" th:unless="${property.isRequired()}"></label>

          <div th:switch="${property.getHint().name()}" th:if="${property.getOptions().isEmpty()}">
            <textarea th:case="'multiline'" class="form-control" th:name="${prop}"></textarea>
            <input th:case="'url'" class="form-control" th:name="${prop}" th:placeholder="${property.getDisplayName()}" type="url" />
            <div th:case="'url'">
              <div th:if="${property.isMultivalue()}" th:with="id=${#ids.seq(prop)}">
                <input class="form-control" th:name="${prop}" th:id="${id}" th:placeholder="${property.getDisplayName()}" type="url" />
                <button type="button" class="btn btn-secondary" th:attr="onclick=|var e = document.getElementById('${id}');var c = e.cloneNode(); c.id = ''; c.value = ''; e.parentElement.append(c)|">Duplicate</button>
              </div>
              <div th:unless="${property.isMultivalue()}">
                <input class="form-control" th:name="${prop}" th:placeholder="${property.getDisplayName()}" type="url" />
              </div>
            </div>

            <div th:case="'date'">
              <input type="date" th:id="${prop} + '-date'" class="form-control" th:onchange="'updateDateTime(this)'" th:data-for="${prop}" />
              <input type="time" th:id="${prop} + '-time'" class="form-control" th:onchange="'updateDateTime(this)'" th:data-for="${prop}" />
              <input type="text" th:id="${prop}" th:name="${prop}" readonly th:placeholder="${property.getDisplayName()}"  />
            </div>
            <div th:case="*">
              <div th:if="${property.isMultivalue()}" th:with="id=${#ids.seq(prop)}">
                <input class="form-control" th:name="${prop}" th:id="${id}" th:placeholder="${property.getDisplayName()}" />
                <button type="button" class="btn btn-secondary" th:attr="onclick=|var e = document.getElementById('${id}');var c = e.cloneNode(); c.id = ''; c.value = ''; e.parentElement.append(c)|">Duplicate</button>
              </div>
              <div th:unless="${property.isMultivalue()}">
                <input class="form-control" th:name="${prop}" th:placeholder="${property.getDisplayName()}" />
              </div>
            </div>
            <input th:case="*" class="form-control" th:name="${prop}" th:placeholder="${property.getDisplayName()}" />
          </div>

          <div class="form-check form-check-inline" th:each="option: ${property.getOptions()}" th:with="id=${prop} + '-' + ${option}">
            <input th:id="${id}" class="form-check-input" type="radio" th:name="${prop}" th:value="${option}" th:checked="${option.equals(property.getDefaultValue())}"/>
            <label class="form-check-label" th:for="${id}" th:text="${option}"></label>
          </div>
        </div>

        <div class="form-group">
          <label for="mp-slug">slug</label>
          <input name="mp-slug" id="mp-slug" type="text" placeholder="Slug for the post" class="form-control" />
        </div>

        <div class="form-group">
          <input name="h" th:value="${postType.getH()}" type="hidden"/>
          <input type="hidden" name="access_token"
                 th:value="${account.getValue().getAccessToken()}"/>
          <input class="btn btn-primary form-control" type="submit" value="Submit"/>
        </div>
      </form>
    </article>
  </article>
  <script type="text/javascript">
    function updateDateTime(node) {
      var id = node.dataset.for;

      var dateControl = document.getElementById(id + '-date');
      var timeControl = document.getElementById(id + '-time');
      var output = document.getElementById(id);

      var time = timeControl.value;
      var date = new Date(dateControl.value + 'T' + time + 'Z')

      output.value = date.toISOString();
    }

    const urlParams = new URLSearchParams(window.location.search);
    urlParams.forEach(function(v, k) {
      console.log(document.getElementsByName(k))
      document.getElementsByName(k).forEach(function (elem) {
        console.log(elem);
        elem.value = v;
        console.log(elem.value)
      });
    });
  </script>
</div>
</body>
</html>
