<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's Editor</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <details th:each="account: ${accountInformation}">
    <summary th:text="${account.getKey()}"></summary>

    <article>
      <h2>Homebrew Website Club Announce</h2>

      <form th:action="${account.getValue().getMicropubEndpoint()}" method="post" id="event-url">
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" name="content" cols="30" rows="2">Reminder that it's #HomebrewWebsiteClub Nottingham tomorrow! I hope to see you there at 1730 for some website stuff! https://events.indieweb.org/....</textarea>
        </div>
        <div class="form-group">
          <input type="hidden" name="h" value="entry"/>
          <input type="hidden" name="access_token"
                 th:value="${account.getValue().getAccessToken()}"/>
          <input class="btn btn-primary form-control" type="submit" value="Submit"/>
        </div>
      </form>
    </article>

    <article>
      <h2>Homebrew Website Club Photo</h2>

      <form th:action="${account.getValue().getMicropubEndpoint()}" method="post" id="event-url">
        <div class="form-group">
          <label for="content">Content</label>
          <textarea class="form-control" name="content" cols="30" rows="2">Thanks for those coming to #HomebrewWebsiteClub Nottingham <a class="u-mention" href="https://events.indieweb.org/...."></a></textarea>
        </div>
        <div class="form-group">
          <label for="photo[]">Photo</label>
          <input class="form-control" name="photo[]" placeholder="https://media.jvt.me/"
                 required/>
          <input class="form-control" name="mp-photo-alt[]" placeholder="Alt text"
                 required/>
        </div>
        <div class="form-group">
          <input type="hidden" name="h" value="entry"/>
          <input type="hidden" name="access_token"
                 th:value="${account.getValue().getAccessToken()}"/>
          <input class="btn btn-primary form-control" type="submit" value="Submit"/>
        </div>
      </form>
    </article>

    <article>
      <h2>Media</h2>

      <form th:action="${account.getValue().getMicropubMediaEndpoint()}" method="post" id="media"
            enctype="multipart/form-data">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="file" name="file">
          <label class="custom-file-label" for="file">Choose file</label>
        </div>
        <div class="form-group">
          <input type="hidden" name="access_token"
                 th:value="${account.getValue().getAccessToken()}"/>
          <input class="btn btn-primary form-control" type="submit" value="Submit"/>
        </div>
      </form>
    </article>
  </details>
</div>
</body>
</html>
