<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's Editor</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="h-app">
    <h1 class="p-name"><a href="https://www-editor.jvt.me/" class="u-url">Jamie Tanna's Micropub
      client</a></h1>
  </div>

  <p th:if="${!accountInformation.containsKey('www.staging.jvt.me')}">Log in <a
      th:href="${authorization_staging}">www.staging.jvt.me</a>.
  </p>
  <p th:if="${accountInformation.containsKey('www.staging.jvt.me')}">Logged in as
    www.staging.jvt.me.</p>
  <p th:if="${!accountInformation.containsKey('www.jvt.me')}">Log in <a
      th:href="${authorization_production}">www.jvt.me</a>.
  </p>
  <p th:if="${accountInformation.containsKey('www.jvt.me')}">Logged in as www.jvt.me.</p>

  <ul>
    <li><a href="/custom">Custom editor features</a></li>
    <li><a href="/autoconfiguring">Autoconfiguring editor</a></li>
    <li><a th:href="${this_week_notes_create}">Create this week's notes</a></li>
    <li><a th:href="${this_week_notes_update}">Update this week's notes</a></li>
    <li><a th:href="${last_week_notes_update}">Update last week's notes</a></li>
  </ul>

  <h3>Bookmarklets</h3>

  <ul>
    <li><a class="badge" href="javascript:window.location='https://www-editor.jvt.me/autoconfiguring/reply?in-reply-to='+encodeURIComponent(location.href);">↩ Reply</a></li>
    <li><a class="badge" href="javascript:window.location='https://www-editor.jvt.me/autoconfiguring/repost?repost-of='+encodeURIComponent(location.href)+'&amp;name='+encodeURIComponent(document.title);">♺ Repost</a></li>
    <li><a class="badge" href="javascript:window.location='https://www-editor.jvt.me/autoconfiguring/like?like-of='+encodeURIComponent(location.href)+'&amp;name='+encodeURIComponent(document.title);">❤ Like</a></li>
    <li><a class="badge" href="javascript:window.location='https://www-editor.jvt.me/autoconfiguring/rsvp?in-reply-to='+encodeURIComponent(location.href);">✔︎ RSVP</a></li>
    <li><a class="badge" href="javascript:window.location='https://www-editor.jvt.me/autoconfiguring/bookmark?bookmark-of='+encodeURIComponent(location.href)+'&amp;name='+encodeURIComponent(document.title);">✂ Bookmark</a></li>
  </ul>
</div>
</body>
</html>
