<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's IndieAuth Server</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <!--/*@thymesVar id="me" type="me.jvt.www.indieauth.domain.ProfileUrl"*/-->
    <aside class="alert alert-secondary">
      <p>You are currently logged in as
      <code th:text="${me.profileUrl()}"></code>, you can change this by going to <a href="/authenticate">/authenticate</a>.</p>
    </aside>

    <p class="p-3 mb-2">The client <a th:href="${request.clientId}" th:text="${request.clientId}"></a> would like to request your authorization to their app<span th:unless="${request.scopes.empty}"> for the following scopes</span>:</p>

    <p th:if="${request.PKCE == null}" class="p-3 mb-2 bg-warning text-dark">⚠️ The client is not using Proof of Key Code Exchange (PKCE) which is recommended by the IndieAuth specification, as it's more secure. It may be worth reaching out to the developer to request they add support. ⚠️</p>

    <form action="/authorize/consent" method="post">
      <div th:unless="${request.scopes.empty}">
        <ul th:each="entry: ${scopes}" th:unless="${'UNKNOWN' == entry.key.name() && entry.value.empty}">
          <li style="list-style-type: none" th:text="${entry.key.name}"></li>
          <ul th:each="scope: ${entry.value}">
            <li style="list-style-type: none">
              <label>
                <input type="checkbox" name="scope" th:value="${scope.name}" th:checked="${scope.requested}"/>
                <code th:text="${scope.name}"></code>
                <small th:text="' ' + ${scope.description}" th:if="${scope.description}"></small>
              </label>
            </li>
          </ul>
        </ul>

        <p class="p-3 mb-2">The client will have access for <span th:text="${accessTokenDays}"></span> days.</p>

        <div class="form-group">
          <label>
            <input type="checkbox" name="issue_refresh_token" value="true" /> Allow persistent access? <small>This will allow the application to continue to request access, even after the initial expiry of the access tokens, for potentially unlimited time, but if after <span th:text="${refreshTokenDays}"></span> days they do not use this access, they will lose it.</small>
          </label>
        </div>
      </div>

      <p th:if="${request.scopes.empty}">The application is not requesting any scopes, therefore will be only allowed to request your profile information, not have any persistent access to your data.</p>

      <div class="form-group">
        <input type="submit" value="Allow" class="btn btn-success"/>
      </div>
      <input type="hidden" name="request_uri" th:value="${request_uri}"/>
    </form>

    <form action="/authorize/deny" method="post">
      <input type="submit" value="Deny request" class="btn btn-outline-danger"/>
      <input type="hidden" name="request_uri" th:value="${request_uri}"/>
    </form>

    <p class="p-3 mb-2">You will be redirected to <code th:text="${request.redirectUri}"></code>.</p>
  </div>
</body>
</html>
