<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's IndieAuth Server</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">

  <p class="p-3 mb-2">Please authenticate as <code th:text="${me.profileUrl()}"></code> with one of the below methods:</p>

  <form action="/authenticate" method="post" th:each="authenticator: ${authenticators}">
    <div class="form-group">
      <input type="submit" th:value="${authenticator.name}" class="btn btn-success"/>
      <input type="hidden" name="authenticator_id" th:value="${authenticator.id}"/>
      <input class="me" type="hidden" name="me" th:value="${me.profileUrl()}"/>
    </div>
  </form>

</div>
</body>
</html>
