<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>Jamie Tanna's IndieAuth Server</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">

  <aside class="alert alert-secondary" th:if="${currentProfileUrl.isPresent()}">
    <p th:text="'You are currently logged in as ' + ${currentProfileUrl.get().profileUrl()}"></p>
  </aside>

  <p class="p-3 mb-2">Please authenticate with one of the below accounts:</p>

  <ul th:each="profileUrl: ${profileUrls}">
    <li style="list-style-type: none">
      <a th:href="'/authenticate/start?me=' + ${profileUrl}">Authenticate as <code th:text="${profileUrl}"></code></a>
    </li>
  </ul>
</div>
</body>
</html>
